@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }
}

/* Swiper */
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev,
.swiper-button-next {
  color: #e50914;
}
